.modal-content {
    background: #1e1e1e !important;
}

.form-control::placeholder {
    color: #cfcfcf !important;
}

.form-control:focus {
    background-color: #2c2c2c !important;
    color: #fff !important;
    border-color: #dc3545 !important;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.input-group-text i {
    font-size: 1.1rem;
}

.banner-section {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/fondo-cine.jpg');
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.text-shadow {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}